@font-face {
  font-family: Lovelo;
  src: url("Assets/Lovelo\ Line\ Bold.otf") format("opentype");
}

.App
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    0deg,
    hsl(0deg 55% 35%) 0%,
    hsl(317deg 100% 25%) 33%,
    hsl(284deg 99% 20%) 67%,
    hsl(284deg 100% 12%) 100%
  );
}

.Heading
{
  display: flex;
  justify-content: center;
  font-family: Lovelo;
  text-transform: uppercase;
  color: aliceblue;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 10vw;
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #9f01be, 
    0 0 20px #9f01be, 
    0 0 25px #9f01be, 
    0 0 30px #9f01be, 
    0 0 35px #9f01be;
}

.Clock
{
  display: flex;
  justify-content: center;
  font-family: Lovelo;
  text-transform: uppercase;
  color: aliceblue;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 4vw;
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #9f01be, 
    0 0 20px #9f01be, 
    0 0 25px #9f01be, 
    0 0 30px #9f01be, 
    0 0 35px #9f01be;
  
}